<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/admincss/addproduct.css">
</head>
<body>
    <div class="content_part">

        <form id="form" method="post" enctype="multipart/form-data">
            <div class="frame">
                <div class="gap_div">
                    <div class="card_div">
                        <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input type="text" id="productName" name="productName" placeholder="Enter product name">
                        </div>
        
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" id="price" name="price" placeholder="Enter price">
                        </div>
        
                        <div class="form-group">
                            <label for="discount">Discount</label>
                            <input type="number" id="discount" name="discount" placeholder="Enter discount">
                        </div>
        
                        <div class="form-group">
                            <label for="stock">Stock</label>
                            <input type="number" id="stock" name="stock" placeholder="Enter stock">
                        </div>
        
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select id="category" name="category">
                                <option value="" selected disabled>Select category</option>
                                <!-- <option value="home">Home</option>
                                <option value="electronics">Electronics</option>
                                <option value="mens">Mens</option> -->
                                <% data.forEach(data=>{%>
                              <option value="<%=data.categoryName%>"><%=data.categoryName%></option>
                              <%})%>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="subCategory">Sub Category</label>
                            <select name="subCategory" id="subCategory">
                                <option value="" selected disabled>Select category</option>
                                <% data.forEach(category => { %>
            
                                      <% category.subCategory.forEach(sub => { %>
                                        <option value="<%= sub %>"><%= sub %></option>
                                      <% }); %>
                                    </optgroup>
                                  <% }); %>
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label for="deliveryDate">Delivery Date</label>
                            <input type="date" id="deliveryDate" name="deliveryDate" placeholder="Enter delivery date">
                        </div>
        
                        <div class="form-group">
                            <label for="colour">Colour</label>
                            <select name="colour" id="colour">
                                <option value="" selected disabled>Select color</option>
                                <option value="#ff0000" style="color: #ff0000;">Red</option> 
                                <option value="#0000ff" style="color: #0000ff;">Blue</option>
                                <option value="#00ff00" style="color: #00ff00;">Green</option>
                                <option value="#000000" style="color: #000000;">Black</option>
                                <option value="#f98000" style="color: #f98000;">Orange</option>
                                <option value="#ffea00" style="color: #ffea00;">Yellow</option>     
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label for="size">Size</label>
                            <select name="size" id="">
                                <option value="" selected disabled>Choose Size</option>                                            
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="none">None</option> 
                            </select>
                        </div>
        
                
        
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group">

                            <button type="button" class="submitBtn">Submit</button>
                              <p class="errorMsg"></p>
                        </div>
                    </div>
                    <div class="img_div">      
                        <div class="form-group img_centr">
                            <div class="image_space">
                                <img src="" alt="" id="previewImage" class="pic">
                            </div>
                           <div class="image_buttn">
                            Choose Image
                            <input type="file" id="productImage" multiple name="productImage" onchange="handleImageChange()">
                           </div>
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        </form>

                 
    </div>
</body>
<script src="/js/addproduct.js"></script>
</html>