<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href='/admincss/adminHome.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="/images/logo.png" alt="">
            <h2>Dynamic</h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i> <a href="/admin/home">Dashboard</a></li>
            <li><i class="fa-solid fa-table-cells-large"></i> <a href="/admin/productslist">Products</a></li>
            <li> <i class="fa-regular fa-pen-to-square"></i> <a href="/admin/userslist">Users</a></li>
            <li> <i class="fa-regular fa-pen-to-square"></i> <a href="/admin/blockeduser">Blocked Users</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/catagorys">Catagarys</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/order">Orders</a></li>
            <li><i class="fa-solid fa-burger"></i> <a href='/admin/couponslist'>coupons</a></li>
            <li><i class="fa-solid fa-burger"></i> <a href='/admin/bannerlist'>Banner</a></li>
            <li><i class="fa-solid fa-circle-plus"></i> <a href="/admin/addproducts">Add products</a></li>


        </div>

    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img src="/images/ramees.jpeg" alt="">
            </div>
        </div>

        <h3 class="i-name">Dashboard</h3>
        <div class="values">
            <div class="val-box">
                <i class="fa-solid fa-users"></i>
                <div>
                    <h3><%=data.users.length%></h3>
                    <span>New Users</span>
                </div>
            </div>

            
            
            <div class="val-box">
                <i class="fa-solid fa-cart-shopping"></i>
                <div>
                    <h3><%=data.orders.length%></h3>
                    <span>Total Orders</span>
                </div>
            </div>



            <div class="val-box">
                <i class="fa-regular fa-circle-check"></i>
                <div>
                    <h3><%=data.products.length%></h3>
                    <span>Products </span>
                </div>
            </div>
            
            
            
            <div class="val-box">
                <i class="fa-solid fa-dollar-sign"></i>
                <div>
                    <h3>₹<%=data.total%></h3>
                    <span>Total sale</span>
                </div>
            </div>
        </div>
        
        
          <div class="board">
            <div style="width: 500px; height: 500px; display: flex;gap:100px;align-items: center;">
            <canvas id="myChart" ></canvas>
            <canvas id="myChart2" ></canvas>
            <!-- <canvas id="myChart3" ></canvas> -->
            </div>
            <!-- <div style="width: 500px; height: 500px; display: flex;">
                <canvas id="salesChart" ></canvas>
            </div> -->
          <div>

</div> 
</div>
</section>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/chart.js"></script>
</html>