<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href='/admincss/adminHome.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="/images/logo.png" alt="">
            <h2>Dynamic</h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i> <a href="/admin/home">Dashboard</a></li>
            <li><i class="fa-solid fa-table-cells-large"></i> <a href="/admin/productslist">Products</a></li>
            <li> <i class="fa-regular fa-pen-to-square"></i> <a href="/admin/userslist">Users</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/catagorys">Catagarys</a></li>
            <li><i class="fa-solid fa-burger"></i> <a href='/admin/couponslist'>coupons</a></li>
            <li><i class="fa-solid fa-circle-plus"></i> <a href="/admin/addproducts">Add products</a></li>

        </div>

    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img src="/images/ramees.jpeg" alt="">
            </div>
        </div>

        <h3 class="i-name">Dashboard</h3>
        <div class="values">
            <div class="val-box">
                <i class="fa-solid fa-users"></i>
                <div>
                    <h3>8,267</h3>
                    <span>New Users</span>
                </div>
            </div>



            <div class="val-box">
                <i class="fa-solid fa-cart-shopping"></i>
                <div>
                    <h3>200,521</h3>
                    <span>Total Orders</span>
                </div>
            </div>



            <div class="val-box">
                <i class="fa-regular fa-circle-check"></i>
                <div>
                    <h3>215,542</h3>
                    <span>Products Sold</span>
                </div>
            </div>


            
            <div class="val-box">
                <i class="fa-solid fa-dollar-sign"></i>
                <div>
                    <h3>$677.89</h3>
                    <span>This Month</span>
                </div>
            </div>
        </div>


        <dir class="board">
            <table width="100%"> 
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Title</td>
                        <td>Status</td>
                        <td>Role</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="people"> 
                            <img src="/images/ramees.jpeg" alt="">
                            <div class="people-de">
                                <h5>Ramees Kakkavayil</h5>
                                <p>kakavayil@gmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                          <h5>Software Engineer</h5>
                          <p>web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role"> <p>Owner</p></td>

                        <td class="edit"> <a href="#">Edit</a></td>
                    </tr>


                    <tr>
                        <td class="people"> 
                            <img src="/images/ramees.jpeg" alt="">
                            <div class="people-de">
                                <h5>Ramees Kakkavayil</h5>
                                <p>kakavayil@gmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                          <h5>Software Engineer</h5>
                          <p>web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role"> <p>Owner</p></td>

                        <td class="edit"> <a href="#">Edit</a></td>
                    </tr>



                    <tr>
                        <td class="people"> 
                            <img src="/images/ramees.jpeg" alt="">
                            <div class="people-de">
                                <h5>Ramees Kakkavayil</h5>
                                <p>kakavayil@gmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                          <h5>Software Engineer</h5>
                          <p>web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role"> <p>Owner</p></td>

                        <td class="edit"> <a href="#">Edit</a></td>
                    </tr>



                    <tr>
                        <td class="people"> 
                            <img src="/images/ramees.jpeg" alt="">
                            <div class="people-de">
                                <h5>Ramees Kakkavayil</h5>
                                <p>kakavayil@gmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                          <h5>Software Engineer</h5>
                          <p>web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role"> <p>Owner</p></td>

                        <td class="edit"> <a href="#">Edit</a></td>
                    </tr>



                    <tr>
                        <td class="people"> 
                            <img src="/images/ramees.jpeg" alt="">
                            <div class="people-de">
                                <h5>Ramees Kakkavayil</h5>
                                <p>kakavayil@gmail.com</p>
                            </div>
                        </td>

                        <td class="people-des">
                          <h5>Software Engineer</h5>
                          <p>web dev</p>
                        </td>

                        <td class="active"><p>Active</p></td>

                        <td class="role"> <p>Owner</p></td>

                        <td class="edit"> <a href="#">Edit</a></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </section>

    <script>
        $('#menu-btn').click(function() {
           $('#menu').toggleClass('active')
        })
    </script>
</body>

</html>