<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorys</title>
    <link rel="stylesheet" href='/admincss/usersList.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"> -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
    <script src="https://kit.fontawesome.com/d4181b2b31.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <h2>Dynamic</h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i> <a href="/admin/home">Dashboard</a></li>
            <li><i class="fa-solid fa-table-cells-large"></i> <a href="/admin/productslist">Products</li>
            <li> <i class="fa-regular fa-pen-to-square"></i> <a href="/admin/userslist">Users</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/categoryList">Catagorys</a></li>
            <li><i class="fa-solid fa-burger"></i> <a href='/admin/couponslist'>coupons</a></li>
            <li><i class="fa-solid fa-circle-plus"></i> <a href="/admin/addproducts">Add products</a></li>

        </div>

    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img src="" alt="">
            </div>
        </div>

        <h3 class="i-name">Category</h3>
      <a href="/admin/addcatagory"><h4 class="f-name">Add Category<i class="fa-solid fa-circle-plus"></i></h4></a>
    </div>
 <dir class="board">
            <table width="100%"> 
                <thead>
                    <tr>
                        <td>Category</td>
                        <td>subcategory</td>
                        <td>Edite</td>
                        <td>delete</td>

                        <!-- <td>hi</td> -->
                    </tr>
                </thead>
                <tbody>
                    <%categorys.forEach(data=>{%>
                    <tr>
                        <td class="people"> 
                
                            <div class="people-de">
                                <h5><%=data.categoryName%></h5>

    
                            </div>
                        </td>

                        <td class="people-des">
                           <% data.subCategory.forEach(sub => { %>
                               <h5><%= sub %></h5>
                            <% }); %>
                          </optgroup>
                        </td>
                        <td class="role"> <a href="/admin/updatecategory/<%=data._id%>"><p><i class="fa-solid fa-pen"></i></p></td></a>
                        <td class="edit removeCata"> <a href="" data-id="<%=data._id%>" id="deletebtn"><button class="removeCata"><i class="fa-solid fa-trash"></i></button></a></td>
                    </tr>
                 <%})%>
               </tbody>
            </table>
        </div>
    </section>
</body>
<script>
    $('#menu-btn').click(function() {
       $('#menu').toggleClass('active')
    })
 const btn=document.querySelector('.removeCata')

 const deleteCata =()=>{  
     const deletebtn=document.getElementById('deletebtn')
     const id=deletebtn.getAttribute('data-id');
     const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: "btn btn-success",
    cancelButton: "btn btn-danger"
  },
  buttonsStyling: false
});
swalWithBootstrapButtons.fire({
  title: "Are you sure?",
  text: "You won't be able to revert this!",
  icon: "warning",
  showCancelButton: true,
  confirmButtonText: "Yes, delete it!",
  cancelButtonText: "No, cancel!",
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
    
 
  fetch(`/admin/deletecategory/${id}`, {
    method: 'DELETE',
    headers: {
      'Content-Type': 'application/json',
      
    },
  })
    .then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json();
    })
    .then(data => {
        
      console.log('Document deleted successfully:', data);
      window.location.href = '/admin/categorylist';
    })
    .catch(error => {
      console.error('Error deleting document:', error);
    });
  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire({
      title: "Cancelled",
      text: "Your imaginary file is safe :)",
      icon: "error"
    });
  }
});
 }

 document.querySelectorAll('.edit').forEach(element => {
    element.addEventListener('click', () => {
        deleteCata();
    });
});





</script>
</html>
