<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userlist</title>
    <link rel="stylesheet" href='/admincss/usersList.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
    <script src="https://kit.fontawesome.com/d4181b2b31.js" crossorigin="anonymous"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="/images/logo.png" alt="">
            <h2>Dynamic</h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i> <a href="/admin/home">Dashboard</a></li>
            <li><i class="fa-solid fa-table-cells-large"></i> <a href="/admin/productslist">Products</li>
            <li> <i class="fa-regular fa-pen-to-square"></i> <a href="/admin/userslist">Users</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/categoryList">Catagorys</a></li>
            <li><i class="fa-solid fa-burger"></i> <a href='/admin/couponslist'>coupons</a></li>
            <li><i class="fa-solid fa-burger"></i> <a href='/admin/bannerlist'>Banner</a></li>
            <li><i class="fa-solid fa-circle-plus"></i> <a href="/admin/addproducts">Add products</a></li>

        </div>

    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img src="" alt="">
            </div>
        </div>

        <h3 class="i-name">CUSTOMERS</h3>
        
         



            





            
            
        </div>


        <dir class="board">
            <table width="100%"> 
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Number</td>
                        <td>Role</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(data=>{%>
                    <tr>
                        <td class="people"> 
                            <img src="/images/ramees.jpeg" alt="">
                            <div class="people-de">
                                <h5><%=data.fullName%></h5>
                                <!-- <p>hello</p> -->
                            </div>
                        </td>

                        <td class="people-des">
                          <h5><%=data.email%></h5>
                          <!-- <p>web dev</p> -->
                        </td>

                        <td class="active"><p><%=data.phoneNumber%></p></td>

                        <td class="role"> <p>Owner</p></td>

                        <td class="edit"> <a href="/admin/delete/<%=data._id%>"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>

                <%})%>
                    



                 






                
                    
                </tbody>
            </table>
        </div>
    </section>

    <script>
        $('#menu-btn').click(function() {
           $('#menu').toggleClass('active')
        })
    </script>
</body>

</html>