<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Account</title>
    <!-- <link rel="shortcut icon" href="#" type="image/x-icon" /> -->
    <!-- Bootstrap css cdn link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- end of Bootstrap css cdn link -->
    <!-- Style css -->
    <link rel="stylesheet" href="/userCss/login.css" />
    <!-- end of Style css -->
</head>
<body>
    
    <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row header">
                <div class="col-6 topheader topheaderone">
                    <div class="topheadingimg topheadingimgone">
                        <!-- <img src="./images/header/shipping-icon.svg" alt="shipping-icon"> -->
                        <p>Free Shipping</p>
                    </div>
                </div>
                <div class="col-6 topheader topheadertwo">
                    <div class="topheadingimg topheadingimgtwo">
                        <!-- <img src="./images/header/warranty-icon.svg" alt="warranty-icon"> -->
                        <p>1 Year Warranty</p>
                    </div>
                </div>
            </div>
        </div>

        <nav>
            <div class="container-fluid">
                <div class="row navigation">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <div class="logo d-flex align-items-center m-0 p-0">
                            <div class="mobilenavigation">
                                <button class="hamburger">
                                    <span class="d-block mt-0"></span>
                                    <span class="d-block"></span>
                                    <span class="d-block mb-0"></span>
                                </button>
                            </div>
                            

                            
                        </div>

                        <div class="navigationnavbar">
                            <ul class="d-flex list-unstyled m-0 p-0 align-items-center">
                                <li>
                                    <a href="/home">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="/earbuds">
                                        Earbuds
                                    </a>
                                </li>
                                <li>
                                    <a href="/earphones">
                                        Earphones
                                    </a>
                                </li>
                                <li>
                                    <a href="/speakers">
                                        Speakers
                                    </a>
                                </li>
                                <li>
                                    <a href="/soundbars">
                                        Soundbars
                                    </a>
                                </li>
                                <li>
                                    <a href="/smartWatch">
                                        Smart Watch
                                    </a>
                                </li>
                                <li>
                                    <a href="/">
                                        Shop By Category
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="mobilenavigationList">
                            <h2>Shop By Category</h2>
                            <ul class="m-0 list-unstyled">
                                <li>
                                    <a href="/earbuds">
                                        Earbuds
                                    </a>
                                </li>
                                <li>
                                    <a href="/earphones">
                                        Earphones
                                    </a>
                                </li>
                                <li>
                                    <a href="/speakers">
                                        Speakers
                                    </a>
                                </li>
                                <li>
                                    <a href="/soundbars">
                                        Soundbars
                                    </a>
                                </li>
                                <li>
                                    <a href="/smartWatch">
                                        Smart Watch
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="useroptions d-flex">
                            <ul class="m-0 p-0 d-flex align-items-center list-unstyled">
                                <li>
                                    <a href="/userAccont">
                                        <i class="fa-solid fa-user" style="color: black;"></i>
                                    </a>                                   
                                </li>
                                <li>
                                    <a href="/userOrders">
                                        <i class="fa-solid fa-bag-shopping" style="color: black;"></i>
                                    </a>                                    
                                </li>
                                <li>
                                    <a href="/userWhislist">
                                        <i class="fa-solid fa-heart" style="color: black;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/usersAddToCart">
                                        <i class="fa-solid fa-cart-shopping" style="color: black;"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- end of header -->

    <!-- main content -->
    <main>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 m-0 loginsection d-flex align-items-center justify-content-center">
                        <div class="loginbox">
                            <div class="headingLogin d-inline-block">
                                <p>Login</p>
                            </div>
                            <!-- <div class="error p-0 d-inline-block">
                                <p><i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i> Invalid credentials</p>
                            </div> -->
                            <div class="inputForm d-inline-block">
                                <form action="/userLogin" method="post">
                                    <label class="d-block" for="email">Email</label>
                                    <input class="d-block" type="email" name="email"  required value="yadhu4507@gmail.com"/>
                                    <label class="d-block" for="password">Password</label>
                                    <input class="d-block" type="password" name="password" required value="Yadhu@123"/>
                                    <div class="text-end">
                                        <a href="/userForgotPassword">Forgot Password</a>
                                    </div>
                                    <div class="text-center m-0">
                                        <button class="loginBtn" type="submit">Login</button>
                                    </div>
                                </form>
                                <div class="registerText text-center m-0">
                                    <a href="/signup">Register an account</a>
                                    <%if(error){ %>
                                        <p class="error"><%=error%></>
                            
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- end of main content -->

    <!-- footer -->
   
    <!-- end of footer -->


    
    <!-- custom js -->
    <!-- <script src="./js/userLogin.js"></script>  ```\ -->
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/23d1247997.js" crossorigin="anonymous"></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!--end of Bootstrap script file -->
</body>
</html>